.container.clubMinutes
 .row
  #yearList.panel-group.col-md-offset-3.col-md-6{role:"tablist",aria:{multiselectable:"true"}}
   -@minutes_years.each do |year|
    .panel.panel-default
     .panel-heading{role: "tab", id: "year#{year.id}Heading"}
      %h4.panel-title
       %a{role: "button", href:"#year#{year.id}",aria:{controls:"#year#{year.id}",expanded:"true"}, data:{toggle:"collapse", parent:"#yearList"}}
        #{year.title}
     .panel-collapse.collapse.yearContent{id:"year#{year.id}",role:"tabpanel", aria: {labelledby:"year#{year.id}Heading"}}
      .panel-body{href: minute_path(year.id)}

:javascript
 $('.yearContent').on("show.bs.collapse", function(){
   $(this).find(".panel-body").addClass("jqueryLoad")
   $(document).load();
 });
