.container
 .row
  .col-xs-12
   %h2 Log in

   -resource.remember_me = true
   = form_for(resource, as: resource_name, url: user_session_path()) do |f|
    .field
     = f.label :fai
     (eg. 123456)
     %br
     = f.text_field :fai, autofocus: true
   
    .field
     = f.label "Password (or surname if you haven't logged in before)"
     %br
     = f.password_field :password, autocomplete: "off"
   
    -if devise_mapping.rememberable?
     .field
      = f.hidden_field :remember_me
    %br
    .actions
     = f.submit "Log in"
   
   
   =render "devise/shared/links"
